.alert.fixed {
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 1000;
}

.logo-lg img,
.logo-sm img {
    opacity: 0.9;
}

input[readonly],
textarea[readonly] {
  background-color: var(--ct-input-disabled-bg);
}

:root {
    --ct-body-color: #6c757d!important;
    --ct-card-color: #6c757d!important;
    --ct-page-title-color: #6c757d!important;
}

.cursor-pointer {
    cursor: pointer;
}

.card {
    border: 1px solid #eaecf3!important;
}

.btn-secondary {
    color: #273444!important;
    background-color: #eaecf3!important;
    border-color: #eaecf3!important;
}

.notification-list .noti-icon-badge {
    height: 9px!important;
    width: 9px!important;
    color: #ff4444!important;
}

.select2-container .select2-selection--multiple {
    min-height: 38px!important;
    padding: 0.15rem 0.4rem!important;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    color: #000!important;
}